.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a2353;
/*   display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  padding: 10px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-variant: small-caps;
  font-weight: bolder;
  letter-spacing: 1px;
}

#board {
  margin: 15px auto; 
  text-align: center; 
}

#boardInstructions {
  display: block;
  margin: 0px;
  height: 0;
  text-align: center;
  background-color: none;
  transition: margin 0.25s, height 0.25s, background-color 0.5s, opacity 0.5s;
}

#boardInstructions.active {
  margin-top: 10px;
  padding: 4px;
  height:auto;
  min-height: 2em;
  background-color:rgba(255, 255, 0, 50%);
}

#boardInstructions.hidden {
  opacity: 0;
}

.square {
  padding: 10px;
  display: inline-block;
  width: 3em;
  text-align: center;
  border: 0;
  box-shadow: rgb(97, 92, 133) 2px 2px 3px;
  margin: 3px;
  font-size: 1.5em;
  background:rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: border 0.2s, padding 0s, color 0.2s, background 0.2s;
  color: #222;
}

@media only screen and (max-width: 700px) {
  .square { 
    font-size: 1.2em; 
    width: 10vw;
  }
}

.square:hover {
  background: rgba(255, 255, 255, 0.8);
}

.square:active {
  background: rgba(255, 255, 255, 0.7);
}

.square.valid {
  padding: 6px;
  border: 4px dashed green;
  color: #000;
}

.square.active {
  position: relative;
  color: #666;
}

.square.active.o::after {
  content: "O";
  position: absolute;
  top: -25%;
  right: 20%;
  font-size: 2.5em;
  color:rgb(233, 23, 23);
  font-weight:bold;
}

.square.active.x::after {
  content: "✕";
  position: absolute;
  top: -25%;
  right: 20%;
  font-size: 2.5em;
  color: rgb(26, 26, 224);
  font-weight:bold;
}

.square.winner {
  background-color: yellow;
}

.square.inactive {
  color: grey;
  border: 1px solid darkgrey;
  padding: 10px;
  cursor: default;
}

.square.inactive.x::after, .square.inactive.o::after {
  color: grey;
}

button.playAgain {
  font-size: 1.2rem;
  padding: 8px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  background: #eafdff;
  border: 2px solid darkblue;
}

button.playAgain:hover {
  background: #ddf0f1;
}

#moveBlock {
  text-align: center;
}

#moveStatus {
  padding: 10px;
  font-size: 1.5em;
}

#moveStatus.gameOver {
  padding: 0;
}

#moveStatus.gameOver div {
  background: rgba(255, 255, 255, 0.3);
  padding: 8px;
}

.moveButton {
  font-size: 1.5em;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.25s;
}

.moveButton.active {
  background-color: #282c34;
  color: white;
}

.moveButton.active.double {
  border: 5px solid rgb(255, 255, 0);
}

.square::after {
  transition: background-color 0.5s, color 0.5s;
}

#moveError {
  margin: 0px;
  height: 0px;
  transition: height 0.5s, margin 0.5s;
  background-color: #be4f4f;
}

#moveError.active {
  margin-bottom: 5px;
  height: 1em;
  padding: 5px;
  color: white;
  font-weight: bold;
  transition: height 0.5s, margin 0.5s;
}

#movesResult {
  height: 1em;
  font-size: 1.2em;
}

#moveInstructions {
  color: #555;
  padding: 2px;
  transition: background-color 0.5s;
  display: block;
  height: auto;
}

#moveInstructions.highlight {
  background-color:rgba(255, 255, 0, 50%);
}

button {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #0e0afd;
  background-image: radial-gradient(circle, #eafdff 0%, #bbd5f1 70%, #9db6e4 100%);
}

.currPlayer {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #ccc;
  padding: 4px;
}

#pickGame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#pickGame button {
  cursor: pointer;
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.75em;
  position: relative;
  z-index: 999;
}

#pickGame button:hover {
  background-color: #eafdff;
}

.gameButtons {
  margin: auto;
  text-align: center;
}

.startMsg {
  font-size: 1.5em;
  text-align: center;
}

.mathsymbols {
  position: relative;
  z-index: -999;
}

.mathsymbol {
  font-size: 3em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 4px rgb(93, 93, 93);
  
}

.mathsymbol.plus {
  color: green;
}

.mathsymbol.times {
  color: red;
}

.mathsymbol.minus {
  color: blue;
}

.mathsymbol.div {
  color: orange;
}

@-webkit-keyframes mathsymbols-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes mathsymbols-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes mathsymbols-fall{0%{top:-10%}100%{top:100%}}@keyframes mathsymbols-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.mathsymbol{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:mathsymbols-fall,mathsymbols-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:mathsymbols-fall,mathsymbols-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.mathsymbol:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.mathsymbol:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.mathsymbol:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.mathsymbol:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.mathsymbol:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.mathsymbol:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.mathsymbol:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.mathsymbol:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.mathsymbol:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.mathsymbol:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.mathsymbol:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.mathsymbol:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
